@charset 'UTF-8';
/* Styles for several items are missing - add them as the need arises. */
/* Default {{{1*/

/* Don't use "*" to avoid applying the following values for form elements. */
a, abbr, acronym, address, b, big, blockquote, body, caption, cite, code, col,
colgroup, dd, del, dfn, div, dl, dt, em, h1, h2, h3, h4, h5, h6, i, img, ins,
kbd, li, link, ol, p, pre, q, samp, small, span, strong, sub, sup, table,
tbody, td, tfoot, th, thead, tr, tt, ul, var
{
  margin: 0;
  padding: 0;

  /* font-family: ...; */
  font-size: inherit;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  /* letter-spacing: ...; */
  /* line-height: ...; */

  border-style: none;
  text-align: inherit;
  text-decoration: inherit;
  /* text-indent: ...; */

  background-color: transparent;
  color: inherit;
}

body
{
  font-family: sans-serif;
  font-size: medium;
}




/* Headers {{{1*/

h1 {font-size: 249%; font-weight: bolder; margin-top: 1em; clear: both;}
h2 {font-size: 207%; font-weight: bolder; margin-top: 1em; clear: both;}
h3 {font-size: 173%; font-weight: bolder; margin-top: 1em; clear: both;}
h4 {font-size: 144%; font-weight: bolder; margin-top: 1em; clear: both;}
h5 {font-size: 120%; font-weight: bolder; margin-top: 1em; clear: both;}
h6 {font-size: 100%; font-weight: bolder; margin-top: 1em; clear: both;}

h1, h2, h3, h4, h5, h6 {border-left: 1em solid; padding-left: 0.5ex;}




/* Block elements {{{1*/

address,
blockquote,
dl,
ol,
p,
pre,
table,
ul,
.figure
{
  clear: both;
  margin: 1em 0;
}


/* .....................
 * : " | quoted text   :
 * :   |        @title :
 * :   |        @cite  :
 * .....................
 */
blockquote:before
{
  display: block;
  float: left;
  font-size: 4em;
  height: 1em;
  margin-left: -1.125em; /* (4em + 0.25em + 0.25em) / font-size */
  margin-bottom: 0.25em; /* 1em / font-size */
  text-align: center;
  width: 1em;
}
blockquote
{
  border-left: 0.25em solid;
  margin-left: 4em;
  padding-left: 0.25em;
  min-height: 4em;
}
blockquote > * {clear: none;}

blockquote:before
{
  content: '“';
  font-family: serif;
}

blockquote[cite]:after,
blockquote[title]:after,
blockquote[cite][title]:after
{
  display: block;
  font-size: 80%;
  font-style: italic;
  text-align: right;
}
blockquote[cite]:after {content: attr(cite);}
blockquote[title]:after {content: attr(title);}
blockquote[cite][title]:after {content: attr(title) '\A' attr(cite);}


pre
{
  border-left: 1ex solid;
  overflow: auto;
  padding-left: 1ex;
}
.programlisting
{
  border: none;
  padding: 0.5ex 1ex;
}

ol > li,
ul > li
{
  list-style-position: outside;
  margin-left: 2em;
}

dl > dt
{
  font-weight: bolder;
  margin-bottom: 0.25ex;
  padding: 0 0.5ex;
}
dl > dd
{
  margin-left: 2em;
}


.figure > img
{
  border: thin solid;
}


table
{
  border-collapse: collapse;
}
table td,
table th
{
  border: thin solid;
  padding: 0.5ex 1ex;
  line-height: 100%;
}
table th
{
  font-weight: bolder;
}




/* Inline elements {{{1*/

a:link,
a:visited
{
  text-decoration: underline;
}


code,
kbd,
samp,
var
{
  font-family: monospace;
}
var
{
  font-style: italic;
}


em,
strong
{
  font-weight: bolder;
}
strong
{
  font-style: italic;
  border-bottom: thin dashed;
}


q {font-weight: bolder;}
cite {font-weight: bolder;}


abbr {}
acronym {}
dfn {font-weight: bolder;}


ins {font-weight: bolder;}
del {text-decoration: line-through;}




/* Patches {{{1*/
/* Whole {{{2*/

#header, #content, #footer {padding-left: 5%; padding-right: 5%;}

pre {border: none;}




/* #footer {{{2*/

#footer
{
  border-top: thin dashed;
  font-size: 80%;
  margin-top: 6em;
  padding-bottom: 1em;
  padding-top: 1ex;
}
#footer > * {margin: 0.5em 0;}




/* Color {{{1*/
/* Sample {{{2
 *
 * #fff4c4 hair light
 * #eea1a0 hair shadow
 * #bc6f89 hair shadow shadow
 * #51396c ribbon
 * #423559 ribbon shadow
 * #ec4f57 eye base
 * #fbb8b7 eye light
 * #ffffff skin light
 * #fedcca skin shadow
 * #ffffff apron
 * #b6d5fc apron shadow
 * #ec4f57 skirt (light)
 * #c1e9f3 skirt
 * #808cdf skirt shadow
 * #5061b2 skirt shadow shadow
 * #2c71d7 background light
 * #023368 background dark
 */




/* Default {{{2*/

body {color: #000000; background: #f9f9f9;}




/* Headers {{{2*/

h1,
h2,
h3,
h4,
h5,
h6 {color: #023368; border-color: #023368;}




/* Block elements {{{2*/

blockquote:before {color: #b6d5fc;}
blockquote {color: #023368; background: transparent; border-color: #b6d5fc;}
blockquote:after {color: #023368;}

pre:before {color: #b6d5fc;}
pre {color: #023368; background: transparent; border-color: #b6d5fc;}

dt {background: #c1e9f3;}
dd {}

.figure > img {border-color: #023368;}

table td,
table th {border-color: #023368;}
table th {background: #b6d5fc;}




/* Inline elements {{{2*/

a:link {color: #2c71d7;}
a:visited {color: #bc6f89;}
a:active, a:focus, a:hover {background: #fff4c4;}

code, kbd, samp, var {color: inherit; background: #d2faff;}
pre > code, pre > kbd, pre > samp, pre > var {background: transparent;}

em {color: #ec4f57; background: #fff4c4;}
strong {color: #ec4f57; background: #fff4c4; border-color: #ec4f57;}

q {background: #c1e9f3;}
cite {background: #c1e9f3;}

dfn {background: transparent;}

ins {background: #fff4c4;}
del {background: transparent;}




/* Patches {{{2*/

body {background: #f9f9f9;}
pre {color: inherit;}
#footer {color: #023368; border-color: #808cdf;}

.tag_anchor {color: #ffcccc;}
.tag_anchor a {color: #990000;}
.tag_link {color: #ccffff;}
.tag_link a {}








/* __END__ {{{1*/
/* vim: set foldmethod=marker: */
