@charset 'UTF-8';

.header {color: #999900;}
.section_separator {color: #990000;}
.tag_anchor {color: #ffcccc;}
.tag_anchor a {color: #990000;}
.tag_link {color: #ccffff;}
.tag_link a {}

/* __END__ {{{1*/
/* vim: set foldmethod=marker: */
