@charset 'UTF-8';

.header {color: #999900;}
.section_separator {color: #990000;}
.special_key {color: #cc6600;}
.special_term {color: #cc6600;}
.optional_term {color: #cc6600;}
.option {color: #33cc33;}
.vimscript_link {}
.subheader {color: #996600;}
.subheader_marker {color: #dddddd;}
.tag_anchor {color: #ffcccc;}
.tag_anchor a {color: #990000;}
.tag_link {color: #ccffff;}
.tag_link a {}

/* __END__ {{{1*/
/* vim: set foldmethod=marker: */
